numpy==1.24.3
streamlit>=1.24.0
pandas>=1.5.3
plotly>=5.13.1
spacy==3.5.3
PyMuPDF>=1.22.3
geopy>=2.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
