logzero
networkx
numpy
pandas>=1.5.3
plotly>=5.13.1
streamlit>=1.24.0
PyMuPDF>=1.22.3
geopy>=2.3.0
folium
streamlit-folium
spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
